<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" closed>
        <div class="sidenav-header">
          <mat-icon>library_books</mat-icon>
            <h2>Libreria </h2>
          </div>
          <ul>
            <li mat-list-item routerLink="/inicio" (click)="sidenav.close()">Inicio</li>
            <li mat-list-item routerLink="/buscar" (click)="sidenav.close()">Buscar</li>
            <li mat-list-item routerLink="/perfil" (click)="sidenav.close()">Perfil</li>
            <li mat-list-item routerLink="/mostrar" (click)="sidenav.close()">Libros</li>
            <li mat-list-item routerLink="/universidades" (click)="sidenav.close()">Otras universidades</li>
            <li mat-list-item routerLink="/registrarUniversidades" (click)="sidenav.close()">Registrar universidades</li>
          </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="example-button-container">
        <button mat-mini-fab color="primary"
        (click)="sidenavfunction()">
        <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

