/* Estilo para el formulario */
mat-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

/* Estilo para el botón de guardar */
mat-card-actions {
  display: flex;
  justify-content: center;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Estilo para los botones en la tabla */
td button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

td button:hover {
  background-color: #d32f2f;
}

/* Estilo para el encabezado de la tabla */
thead {
  background-color: #333;
  color: white;
}

/* Estilo para las filas impares de la tabla */
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

th[_ngcontent-ng-c532549225] {
  background-color: #5e5454;
}
