/* Estilos para el contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Estilos para el campo de búsqueda */
.search-form-field {
  width: 100%;
  max-width: 400px;
}

/* Estilos para el contenedor de tarjetas */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

/* Estilos para cada tarjeta de libro */
.card {
  width: 100%;
  background-color: #f7f7f7; /* Cambia el color de fondo del card */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Evita que la imagen se salga del card */
}

/* Estilos para el encabezado de la tarjeta */
.mat-card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* Estilos para los párrafos del libro */
.mat-card-content p {
  margin: 5px 0;
}

/* Estilos para la imagen de la tarjeta */

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: transform 0.3s ease; /* Agrega una transición a la transformación */
}

.image-container:hover {
  transform: scale(1.1); /* Escala ligeramente la imagen al hacer hover */
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* Estilos para el mensaje de "No hay coincidencias" */
.ng-template p {
  margin-top: 10px;
  color: #666;
}

/* Estilos para el modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 90%;
  max-width: 500px;
  max-height: 90%;
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-family: cursive;
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}

.modal-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 50%;
  margin: 0 auto;
}

.modal-details {
  flex-grow: 1;
  overflow-y: auto;
  text-align: center;
}

.mat-card-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* Estilos para los botones del modal */
.mat-card-actions button {
  width: 48%;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .modal-container {
    max-width: 90%;
  }
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
