<div class="user-profile">
  <div class="avatar">
    <mat-icon>account_circle</mat-icon>
  </div>
  <div class="datos">
    <mat-card-title>Nombre del Usuario:</mat-card-title>
    <mat-card-subtitle>Correo Electrónico:</mat-card-subtitle>
  </div>
</div>

<mat-grid-list cols="3" gutterSize="20px">
  <mat-grid-tile *ngFor="let book of storedBooks" class="stored-book-tile">
    <mat-card class="cardBody" [ngClass]="{'book-card': true, 'flipped': editingBook === book}">

      <mat-card-header>
        <mat-card-title>{{ book.titulo }}</mat-card-title>
      </mat-card-header>
      <div class="card-content" *ngIf="editingBook !== book">
        <img [src]="book.portada ? book.portada: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj6jBYbLaZcg6SQcrBRxX00q7MdPjilwOvYn3jUZTtvlbFPincvLG6yhJUp2O7bez6hOM&usqp=CAU'" alt="Portada del libro">
        <mat-card-content>
          <p>Estatus:</p>
          <div class="rating">
            <p>Calificación:</p>
            <mat-icon *ngFor="let _ of [1, 2, 3, 4, 5]" class="star" [ngClass]="{'filled': book.rating >= _}" (click)="setRating(book, _)">star</mat-icon>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="editBook(book)">Editar</button>
          <button mat-button (click)="deleteBook(book)">Eliminar</button>
        </mat-card-actions>
      </div>

      <div class="card-content-edit" *ngIf="editingBook === book">
        <div class="cardBack">
        <p>Elije el estatus de lectura:</p>
        <mat-slider min="0" max="100000" step="1000" [(ngModel)]="editingValue" showTickMarks discrete [displayWith]="formatLabel">
          <input matSliderThumb>
        </mat-slider>
        <p>¿Que te parecio el libro?:</p>
        <div class="rating">
          <mat-icon *ngFor="let _ of [1, 2, 3, 4, 5]" class="star" [ngClass]="{'filled': book.rating >= _}" >star</mat-icon>
        </div>
        </div>
 <div class="actionCardBack">
        <button mat-button (click)="saveEdit(book)">Guardar</button>
        <button mat-button (click)="cancelEdit()">Cancelar</button>
      </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


<div *ngIf="storedBooks.length === 0" class="no-books">
  Aun no hay libros agregados 📕
</div>
