<div class="card-container">
  <div class="card" *ngFor="let libro of libros">
    <div class="card-header">
      <h2>{{ libro.title }}</h2>
    </div>
    <div class="card-body">
      <p><strong>Idioma:</strong> {{ libro.language }}</p>
      <p><strong>Género:</strong> {{ libro.genre }}</p>
      <p><strong>Editorial:</strong> {{ libro.editorial }}</p>
      </div>
    <div class="card-footer">
      <a href="javascript:void(0);" (click)="abrirPdf(libro.file)" class="pdf-link">Abrir PDF</a>
      <br>
      <a href="javascript:void(0);" (click)="descargarPdf(libro.file)" class="pdf-link">Descargar PDF</a>
    </div>
  </div>
</div>